
body{
	background-color:#b3ffff;
}
#main{
	width:  95%;
	margin: 0 auto;
	background-color: white;
}
footer{
	max-width:100%;
	width:100%;
position:relative;
   bottom:0;
   width:100%;
}
#foot{
	width:100%;
}
.container{
max-width:100%;
}
#ru{
	padding:50px;
}
#pictures{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
}
.btn {
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:40px;
    margin-bottom:40px;
  background: #08f7ff;
  background-image: -webkit-linear-gradient(top, #08f7ff, #1d5273);
  background-image: -moz-linear-gradient(top, #08f7ff, #1d5273);
  background-image: -ms-linear-gradient(top, #08f7ff, #1d5273);
  background-image: -o-linear-gradient(top, #08f7ff, #1d5273);
  background-image: linear-gradient(to bottom, #08f7ff, #1d5273);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 4px 4px 7px #666666;
  -moz-box-shadow: 4px 4px 7px #666666;
  box-shadow: 4px 4px 7px #666666;
  font-family: Arial;
  color: #fffb00;
  font-size: 60px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #1d6985;
  background-image: -webkit-linear-gradient(top, #1d6985, #12ffff);
  background-image: -moz-linear-gradient(top, #1d6985, #12ffff);
  background-image: -ms-linear-gradient(top, #1d6985, #12ffff);
  background-image: -o-linear-gradient(top, #1d6985, #12ffff);
  background-image: linear-gradient(to bottom, #1d6985, #12ffff);
  text-decoration: none;
}
.pc{
	max-width: 300px;
	height:auto;
	margin:20px;
	.transition: all .2s ease-in-out;
}
.pc:hover{
transform: scale(1.1);
}
figure{
	display:inline-block;
  position: relative;
  overflow: hidden;
  margin:0px;
}
figcaption {
  position: absolute;
  background: black;
  background: rgba(0,0,0,0.75);
  color: white;
  padding: 10px 20px;
  opacity: 0;
  -webkit-transition: all 0.6s ease;
  -moz-transition:    all 0.6s ease;
  -o-transition:      all 0.6s ease;
}
figure:hover figcaption {
  opacity: 1;
}
figure:before {
  content: "?";
  position: absolute;
  font-weight: 800;
  background: black;
  background: rgba(255,255,255,0.75);
  text-shadow: 0 0 5px white;
  color: black;
  width: 24px;
  height: 24px;
  -webkit-border-radius: 12px;
  -moz-border-radius:    12px;
  border-radius:         12px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  -moz-transition: all 0.6s ease;
  opacity: 0.75;
}
figure:hover:before {
  opacity: 0;
}

figure:before {  bottom: 10px; left: 10px; }
figure figcaption { bottom: 0; left: -30%; }
figure:hover figcaption { left: 0; }

.odometer {
    font-size: 200px;
    margin:auto;
}
#num{
display:flex;
justify-content: center;
}
h2, h1{
	text-align: center;
}
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.contact {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    display:flex;
    justify-content: center;
}
.bt{
 font-size:30px;
}
#th{
	width:50%;
	font-size: 30px;
}
#thanks{
	width:40%;
	display:block;
	margin:auto;
}
#chu{
  position:relative;
}
#helpform{
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    margin-top:600px;
}
#rus{
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    margin-top: 300px;
} 
#head{
  background-color:#0099cc;
  padding: 30px;
}
#table{
  display:block;
  margin:auto;
}
h3{
   -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;    
  font-color: black;
  font-family: "Allerta Stencil", Sans-serif;
  font-size: 40px; 
}
